<% if vars.use_global_header && current_page.data.owner != "Pivotal HD" %>
  <% if current_page.path.include? "partners" %>
  <header class="partners-global-header header header-layout js-bar-links">
    <div class='container'>
      <a class="pivotal-logo" href="/">
      </a>
      <a href="/" class="global-header-title">
        <%= vars.title %>
      </a>
      <div class="btn-menu" data-behavior="MenuMobile"></div>
      <div class="header-links">
        <div class="header-item">
          <a href="<%= vars.global_header_product_href %>"><%= vars.global_header_product_link_text %></a>
        </div>
        <div class="header-item">
          <%= vars.support_link %>
        </div>

        <div class="header-item embedded-searchbar">
          <% if elastic_search? %>
            <form method="get" action="/search">
              <input name="q" placeholder="<%= product_info['search_placeholder'] || 'Search' %>" class="search-box" />
              <% if !product_info['local_header_title'].nil? %>
                <input type="hidden" name="product_name" value="<%= product_info['local_header_title'] %>" />
              <% end %>
              <% if !product_info['local_product_version'].nil? %>
                <input type="hidden" name="product_version" value="<%= product_info['local_product_version'] %>"/>
              <% end %>
            </form>
          <% else %>
            <gcse:searchbox></gcse:searchbox>
          <% end %>
        </div>
        
      </div>
    </div>
  <% else %>
  <header class="global-header header header-layout js-bar-links">
    <div class='super-nav'>
      <div class='container-modified'>
        <a href="/" class="global-header-title">
          <img class="pivotal-logo" src="https://d1fto35gcfffzn.cloudfront.net/images/docs/logo-docs.svg">
        </a>
        <div class='header-links'>
           <div class="header-item">
            <a href="https://pivotal.io/support">Support</a>
          </div>
          <div class="header-item">
            <a href="https://network.pivotal.io">Downloads</a>
          </div>
          <div class='header-item' id='contact-header-item'>
            <a href='https://pivotal.io/contact'>Contact Us</a>
          </div>
          <div class='header-item'>
            <a href="https://login.run.pivotal.io">Sign In</a>
          </div>
        </div>
      </div>
    </div>
    <div id='info-search-bar'>
      <div class='container-modified'>
        <%= partial 'layouts/local-header' %>
        <div class="header-item embedded-searchbar">
          <% if elastic_search? %>
            <form method="get" action="/search">
              <input name="q" placeholder="<%= product_info['search_placeholder'] || 'Search' %>" class="search-box" />
              <% if !product_info['local_header_title'].nil? %>
                <input type="hidden" name="product_name" value="<%= product_info['local_header_title'] %>" />
              <% end %>
              <% if !product_info['local_product_version'].nil? %>
                <input type="hidden" name="product_version" value="<%= product_info['local_product_version'] %>"/>
              <% end %>
            </form>
          <% else %>
            <gcse:searchbox></gcse:searchbox>
          <% end %>
        </div>
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <div class='header-links mobile-only'>
          <div class="header-item" id='docs-header-item'>
            <a href='https://docs.pivotal.io'>All docs</a>
          </div>
          <div class="header-item">
            <a href="https://network.pivotal.io">Downloads</a>
          </div>
          <div class="header-item">
            <a href="https://pivotal.io/support">Support</a>
          </div>
          <div class='header-item' id='contact-header-item'>
            <a href='https://pivotal.io/contact'>Contact Us</a>
          </div>
          <div class='header-item'>
            <a href="https://login.run.pivotal.io">Sign In</a>
          </div>

          <div class="header-item embedded-searchbar">
            <% if elastic_search? %>
              <form method="get" action="/search">
                <input name="q" placeholder="<%= product_info['search_placeholder'] || 'Search' %>" class="search-box" />
                <% if !product_info['local_header_title'].nil? %>
                  <input type="hidden" name="product_name" value="<%= product_info['local_header_title'] %>" />
                <% end %>
                <% if !product_info['local_product_version'].nil? %>
                  <input type="hidden" name="product_version" value="<%= product_info['local_product_version'] %>"/>
                <% end %>
              </form>
            <% else %>
              <gcse:searchbox></gcse:searchbox>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </header>
  <% if !current_page.data.title %>
    <header class="header-home-global">
      <h2 class="title-intro">
        <%= vars.hero_text %>
      </h2>
    </header>
  <% end %>
<% else %>
  <% if current_page.data.title %> <%# this is a proxy for if !homepage %>
    <header class="header header-layout">
      <h1 class="logo">
        <a href="/"><%= vars.book_title || 'Default Book Title' %></a>
      </h1>
      <%= yield_for_archive_drop_down_menu %>
      <%# @TODO: Replace with dynamic versioning %>
      <% case defined?(body_classes) ? body_classes : page_classes %>
      <% when /^pivotalcf / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.6.0.0
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/archives/pcf-docs-1.6.pdf">v1.6.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.5.pdf">v1.5.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.4.pdf">v1.4.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.3.pdf">v1.3.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.2.pdf">v1.2.0.0</a></li>
            </ul>
          </div>
        </div>

      <% when /^pivotalhd-ds / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.3.2.0
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/archives/phd-data-service-v1.2.pdf">v1.2.0.0</a></li>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="header-links js-bar-links">
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <%= vars.product_link %>
        <div class="header-item">
          <%= vars.support_link %>
        </div>
        <%= partial 'layouts/book-search' %>
      </div>
    </header>
  <% else %>
    <header class="header-home">
      <div class="home-links js-bar-links">
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <%= vars.product_link %>
        <div class="header-item">
          <%= vars.support_call_to_action %>
        </div>
        <%= partial 'layouts/book-search' %>
      </div>
      <h1 class="title-flashy">
        <%= partial 'layouts/book-title' %>
      </h1>

      <h2 class="title-intro">
        <%= vars.hero_text %>
      </h2>
    </header>
  <% end %>
<% end %>
<%= partial 'layouts/book-header' %>
