<% if vars.use_global_header && current_page.data.owner != "Pivotal HD" %>
  <% if current_page.path.include? "partners" %>
  <header class="partners-global-header header header-layout js-bar-links">
  <% else %>
  <header class="global-header header header-layout js-bar-links">
  <% end %>
    <div class='super-nav'>
      <div class='container'>
        <a href="/" class="global-header-title">
          <%= vars.title %>
        </a>
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <div class='header-links'>
          <div class='header-item' id='search-header-item'>
            <div class='search-icon'></div>
            <form id="header-search" action="https://pivotal.io/search.html" accept-charset="UTF-8" method="get">
              <input name="utf8" type="hidden" value="✓">
              <input type="text" name="q" autocomplete="off">
              <input type="submit" value="" data-disable-with="">
            </form>
          </div>
          <div class="header-item" id='docs-header-item'>
            <a href='https://docs.pivotal.io'>Documentation</a>
          </div>
          <div class="header-item">
            <a href="https://network.pivotal.io">Downloads</a>
          </div>
          <div class="header-item">
            <a href="https://pivotal.io/support">Support</a>
          </div>
          <div class='header-item'>
            <a href="https://login.run.pivotal.io">Sign In / Register</a>
          </div>
          <div class='header-item' id='contact-header-item'>
            <a href='https://pivotal.io/contact'>Contact Us</a>
          </div>
          <div class='header-item embedded-searchbar'>
            <form action="https://pivotal.io/search.html" accept-charset="UTF-8" method="get">
              <input name="utf8" type="hidden" value="✓">
              <input type="text" name="q" autocomplete="off" placeholder="Search">
              <input type="submit" value="" data-disable-with="">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class='container index-page-logo'>
      <a href="/" class="global-header-title">
        <%= vars.title %>
      </a>
    </div>
  </header>
  <% if !current_page.data.title %>
    <header class="header-home-global">
      <h2 class="title-intro">
        <%= vars.hero_text %>
      </h2>
    </header>
  <% end %>
<% else %>
  <% if current_page.data.title %> <%# this is a proxy for if !homepage %>
    <header class="header header-layout">
      <h1 class="logo">
        <a href="/"><%= vars.book_title || 'Default Book Title' %></a>
      </h1>
      <%= yield_for_archive_drop_down_menu %>
      <%# @TODO: Replace with dynamic versioning %>
      <% case defined?(body_classes) ? body_classes : page_classes %>
      <% when /^pivotalcf / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.6.0.0
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/archives/pcf-docs-1.6.pdf">v1.6.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.5.pdf">v1.5.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.4.pdf">v1.4.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.3.pdf">v1.3.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.2.pdf">v1.2.0.0</a></li>
            </ul>
          </div>
        </div>

      <% when /^pivotalhd-ds / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.3.2.0
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/archives/phd-data-service-v1.2.pdf">v1.2.0.0</a></li>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="header-links js-bar-links">
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <%= vars.product_link %>
        <div class="header-item">
          <%= vars.support_link %>
        </div>
        <%= partial 'layouts/book-search' %>
      </div>
    </header>
  <% else %>
    <header class="header-home">
      <div class="home-links js-bar-links">
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <%= vars.product_link %>
        <div class="header-item">
          <%= vars.support_call_to_action %>
        </div>
        <%= partial 'layouts/book-search' %>
      </div>
      <h1 class="title-flashy">
        <%= partial 'layouts/book-title' %>
      </h1>

      <h2 class="title-intro">
        <%= vars.hero_text %>
      </h2>
    </header>
  <% end %>
<% end %>
<%= partial 'layouts/book-header' %>
