<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title>
    <% if data.page.title %>
      <%= data.page.title %> |
    <% end %>
    <%= vars.book_title_short %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'master', :media => 'screen, print' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= stylesheet_link_tag 'book-styles', :media => 'screen, print' %>
  <link href='/images/favicon.ico' rel='shortcut icon'>
  <%= javascript_include_tag "all" %>

  <script type="text/javascript">
    if (window.location.host === '<%= production_host %>') {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= vars.ga_account_id %>']);
      _gaq.push(['_setDomainName', '<%= vars.domain_name %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>

  <script type="text/javascript">
    var blackList = ['acceptance'];

    blackList.forEach(function(blackListedEnv){
      if (document.URL.indexOf(blackListedEnv) > -1 && blackListedEnv != "") {
        $('head').append('<meta name="hashtag" content="PivotalMoment">');
      }
    });
  </script>

  <!-- CrazyEgg Tracking Script -->
  <script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0020/8294.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
  </script>
</head>

<body class="<%= page_classes %> <%= yield_for_subnav.empty? ? '' : 'has-subnav' %>">

<div class="viewport">
  <div class='wrap'>
    <script src="//use.typekit.net/clb0qji.js" type="text/javascript"></script>
    <script type="text/javascript">
      try {
        Typekit.load();
      } catch (e) {
      }
    </script>
    <script type="text/javascript">
      document.domain = "<%= vars.domain_name %>";
    </script>

    <script type="text/javascript">
      WebFontConfig = {
        google: {families: ['Source+Sans+Pro:300italic,400italic,300,400,600:latin']}
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <%# @TODO: Replace with better if(homepage) check %>
    <% if current_page.data.title %>
      <header class="header header-layout">
        <h1 class="logo">
          <a href="/"><%= vars.book_title || 'Default Book Title' %></a>
        </h1>
        <%= yield_for_archive_drop_down_menu %>
        <%# @TODO: Replace with dynamic versioning %>
        <% if page_classes.match(/^pivotalcf /) %>
          <div class="header-dropdown">
            <a class="header-dropdown-link">
              v1.6.0.0
            </a>

            <div class="header-dropdown-content">
              <ul>
				<li><a href="/archives/pcf-docs-1.6.pdf">v1.6.0.0</a></li>
                <li><a href="/archives/pcf-docs-1.5.pdf">v1.5.0.0</a></li>
                <li><a href="/archives/pcf-docs-1.4.pdf">v1.4.0.0</a></li>
                <li><a href="/archives/pcf-docs-1.3.pdf">v1.3.0.0</a></li>
                <li><a href="/archives/pcf-docs-1.2.pdf">v1.2.0.0</a></li>
              </ul>
            </div>
          </div>
        <% end %>
        <% if page_classes.match(/^p-mysql /) %>
          <div class="header-dropdown">
            <a class="header-dropdown-link">
              v1.7
            </a>

            <div class="header-dropdown-content">
              <ul>
                <li><a href="/archives/p-mysql/mysql-docs-1.6.pdf">v1.6</a></li>
                <li><a href="/archives/p-mysql/mysql-docs-1.5.pdf">v1.5</a></li>
                <li><a href="/archives/p-mysql/mysql-docs-1.4.pdf">v1.4</a></li>
              </ul>
            </div>
          </div>
        <% end %>
        <% if page_classes.match(/^pivotalhd-ds /) %>
          <div class="header-dropdown">
            <a class="header-dropdown-link">
              v1.3.2.0
            </a>

            <div class="header-dropdown-content">
              <ul>
                <li><a href="/archives/phd-data-service-v1.2.pdf">v1.2.0.0</a></li>
              </ul>
            </div>
          </div>
        <% end %>
        <% if page_classes.match(/^spring-cloud-services /) %>
          <div class="header-dropdown">
            <a class="header-dropdown-link" >
              v1.0.0
            </a>
            <div class="header-dropdown-content">
              <ul>
              <li><a href="/archives/p-spring-cloud-services/spring-cloud-services-docs-0.1.1.BETA.pdf">v0.1.1.BETA</a></li>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="header-links js-bar-links">
          <div class="btn-menu" data-behavior="MenuMobile"></div>
          <%= vars.product_link %>
          <div class="header-item">
            <%= vars.support_link %>
          </div>
          <%= partial 'layouts/book-search' %>
        </div>
      </header>
    <% else %>
      <header class="header-home">
        <div class="home-links js-bar-links">
          <div class="btn-menu" data-behavior="MenuMobile"></div>
          <%= vars.product_link %>
          <div class="header-item">
            <%= vars.support_call_to_action %>
          </div>
          <%= partial 'layouts/book-search' %>
        </div>
        <h1 class="title-flashy">
          <%= partial 'layouts/book-title' %>
        </h1>

        <h2 class="title-intro">
          <%= vars.hero_text %>
        </h2>
      </header>
    <% end %>

    <div class="container">

      <%= yield_for_subnav %>

      <main class="content content-layout" id="js-content" role="main">
        <a id="top"></a>
        <% if current_page.data.title && !current_page.data.dita %>
          <h1 class="title-container">
            <%= current_page.data.title %>
          </h1>
          <% if quick_links %>
            <div id="js-quick-links">
              <%= quick_links %>
            </div>
          <% end %>
        <% end %>
        <div class="to-top" id="js-to-top">
          <a href="#top" title="back to top"></a>
        </div>
        <%= yield %>
        <%= render_repo_link(include_environments: ['staging', 'acceptance', 'cloudfoundry', 'localhost']) %>
      </main><!--end of content-->

  </div><!-- end of container -->

  <script type="text/javascript">
    (function() {
      var didInit = false;
      function initMunchkin() {
        if(didInit === false) {
          didInit = true;
          Munchkin.init('625-IUJ-009');
        }
      }
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = document.location.protocol + '//munchkin.marketo.net/munchkin.js';
      s.onreadystatechange = function() {
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
          initMunchkin();
        }
      };
      s.onload = initMunchkin;
      document.getElementsByTagName('head')[0].appendChild(s);
    })();
  </script>
</div><!--end of wrap-->
</div><!--end of viewport-->

<div id="scrim"></div>

<div class="container">
  <footer class="site-footer-links">
    <%= partial 'layouts/book-footer' %>
  </footer>
</div><!--end of container-->

</body>
</html>
